html, body{
	height: 100%;
	h1, h2, p, ul{
	font-family: 'Montserrat';
	font-size: 16px;
	}
	#Splash{
		background-image: radial-gradient(#59c848, #275220);
		color: #fff;
		text-align: center;
		height: 100vh;
		padding: 20vh 0;
		box-sizing: border-box;
		position: relative;
		h1, h2{
			text-shadow: 2px 2px 1px #888;
		}
		h1{
			font-size: 8em;
		}
		h2{
			font-size: 3em;
		}
		p{
			font-size: 1.5em;
			margin-top: 1.5em;
		}
		ul{
			font-size: 2em;
			li{
				display: inline-block;
				margin: 0 1em;
				padding: .15em .25em;
				border: 2px dashed rgba(255,255,255,0);
				border-radius: 1em;
				a{
					color: #fff;
					text-decoration: none;
				}

			}
			li:hover{
				border: 2px dashed #fff;
				border-radius: 1em;
				transition-duration: .5s;
				cursor: pointer;
			}
		}
		span.glyphicon-chevron-down{
			font-size: 4em;
			margin-top: 1.5em;
		}
		#temp{
			transition: all 1s ease-out;
		}
		.fade-out{
			opacity: 0;
			transition: all 1s ease-out;
		}
	}
	.content{
		margin: 0 10em;
	}
	#About{
		background-color: #fff;
		padding-bottom: 20px;
		position: relative;
		#headshot{
			width: 40%;
			float: left;
			margin: 0 2em .5em 0;
			img{
				width: 100%;
			}
		}
		h2{
			font-size: 5em;
			color: #111883;
		}
		p{
			font-size: 1.5em;
		}
	}
	.scroll{
		overflow-y: scroll;
	}
	#Work{
		background-image: radial-gradient(#59c848, #275220);
		background-attachment: fixed;
		color: #fff;
		text-align: center;
		padding-bottom: 20px;
		position: relative;
		.project{
			/*height: 60vh*/
			opacity: 0;
			transform: scale(.8);
			transition: all 1s ease-out;
		}
		.fade-in{
			opacity: 1;
			transform: scale(1);
			transition: all 1s ease-out;
		}
		h2{
			font-size: 5em;
			text-align: center;
		}
		h3{
			font-size: 3em;
			text-align: center;
			margin-bottom: 2px;
			transform: scale(1);
			transition-duration: .5s;
		}
		h3:hover{
			transform: scale(1.05);
			transition-duration: .5s;
		}
		a{
			color: #fff;
			text-decoration: none;
			border-bottom: 1px dashed rgba(0,0,0,0);
		}
		a.github{
			margin-bottom: 5px;
			display: inline-block;
		}
		a:hover{
			border-bottom: 1px dashed #fff;
			transition-duration: .5s;
		}
		p{
			font-size: 1.2em;
			text-align: justify;
		}
		.workImage{
			img{
				width: 100%;
			}
		}
		ul{
			list-style-type: disc;
			margin-left: 2em;
			text-align: left;
			li{
				margin-bottom: 1em;
				ul{
					text-align: center;
					margin-left: 0;
					li{
						margin: 2px auto;
						display: inline-block;
						border: 1px solid #fff;
						border-radius: 5px;
						padding: 2px;
						text-align: justify;
					}
				}
			}
		}
	}
	#Contact{
		background-color: #fff;
		padding-bottom: 20px;
		position: relative;
		#buttons{
			text-align: center;
			color: #111883;
		}
		a{
			color: #111883;
			display: inline-block;
			padding: 1em;
		}
		a:hover{
			background-color: #b9cfff;
			border-radius: 20px;
		}
		h2{
			font-size: 5em;
			color: #111883;
		}
		.glyphicon{
			font-size: 10em;
		}
		p{
			font-size: 3em;
		}
		.info{
			font-size: 1.5em;
		}
		.sociallink{
			text-align: center;
		}
		.social{
			height: 10em;
			display: block;
		}
	}
	#Resume{
		background-image: radial-gradient(#59c848, #275220);
		color: #fff;
		text-align: center;
		padding: 20px;
		position: relative;
		h2{
			font-size: 5em;
			color: #fff;
		}
		a{
			display: block;
			color: #fff;
			font-size: 2em;
		}
		object{
			display: inline-block;
		}
	}
}